force-app/main/default/flows/testCadence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getDateSent</name>
        <label>getDateSent</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>convertDateToISO</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>test_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dueDate</name>
            <value>
                <elementReference>$Record.HVS_Pause_Cadence__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>test_Action</name>
        <label>test Action</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>pauseSalesCadenceTracker</actionName>
        <actionType>pauseSalesCadenceTracker</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>resumeTime</name>
            <value>
                <elementReference>getDateSent</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>testCadence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testCadence</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDateSent</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
